<!-- Overlay and wrapper -->
<div class="hide modal-overlay" id="modal-wrapper">

  <!-- Modal -->
  <section class="modal">
    <h3>
      Enter in a spell:
    </h3>
    <section class="modal-spell-form">
      Spell form goes here
    </section>
  </section>
</div>
