<!-- Overlay and wrapper -->
<div class="hide modal-overlay" id="modal-wrapper">
  <div class="modal-overlay" id="modal-overlay">
    
  </div>
  <!-- Modal -->
  <section class="modal">
    <h3>
      Enter in a spell:
    </h3>
    <div class="divider"></div>
    <section class="modal-spell-form">
      Spell form goes here
    </section>
  </section>
</div>
