<!-- Overlay and wrapper -->
<div class="hide modal-wrapper" id="modal-wrapper">
  <div class="modal-overlay">
    
  </div>
  <!-- Modal -->
  <section class="modal">
    <h3>
      Enter in a spell:
    </h3>
    <div class="divider"></div>
    <section class="modal-spell-form">
      <div id="spellId" spellId=""></div>
        <div>
            <input type="text" id="spellName" name="spellName" value="Test">
            <label for="spellName">Spell Name</label>
        </div>
        <div>
            <textarea id="description" name="description"></textarea>
            <label for="description">Description</label>
        </div>
        <div>
            <input type="number" id="level" name="level" value="">
            <label for="level">Level</label>
        </div>

        <div>
            <button class="save" value="Save">Save</button>
            <a href="/spells">Cancel</a>
        </div>
    </section>
  </section>
</div>
