<!-- Overlay and wrapper -->
<div class="hide modal-wrapper" id="modal-wrapper">
  <div class="modal-overlay">
    
  </div>
  <!-- Modal -->
  <section class="modal">
    <h3>
      Spell not found in the 
    </h3>
   
  </section>
</div>
