<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Signup</title>
</head>
<body>
  <section class="viewport-wrapper">
    <h1 class= "index" >Signup to get started on creating your very own spell list!</h1>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <form class="flex-centered" action="/signup" method="POST">
        <input class="spell" type="text" name="userName" placeholder="User Name">
        <input class="spell" type="email" name="email" placeholder="Email">
        <input class="spell" type="password" name="password" placeholder="Password">
        <input class="spell" type="password" name="confirmPassword" placeholder="Confirm Password">
        <input class="spell hover" type="submit">
    </form>
  </section>
</body>
</html>